.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display {
    display: flex;
    flex-direction: row;
}

video {
    margin: 12px;
}

.input-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}